<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>BMW IX M60</mat-card-title>
      <mat-card-subtitle>ELECTRIC</mat-card-subtitle>
      <img mat-card-xl-image
        src="https://www.bmw.it/content/dam/bmw/common/all-models/m-series/iX-60/2021/onepager/bmw-ix-m60-onepager-gallery-impressions-thumbnail-01.jpg">
    </mat-card-title-group>
  </mat-card-header>

</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>BMW IX</mat-card-title>
      <mat-card-subtitle>HYBRID</mat-card-subtitle>
      <img mat-card-xl-image
        src="https://www.bmw.it/content/dam/bmw/marketIT/bmw_it/Gamma/ix/bmw-ix-series-07-2023_def_890x501.jpg">
    </mat-card-title-group>
  </mat-card-header>

</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>BMW I5 M50</mat-card-title>
      <mat-card-subtitle>HYBRID</mat-card-subtitle>
      <img mat-card-xl-image
        src="https://www.bmw.it/content/dam/bmw/common/all-models/m-series/i4-m50/2021/onepager/bmw-i4-m50-onepager-sp-desktop.jpg">
    </mat-card-title-group>
  </mat-card-header>

</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>BMW IX M60</mat-card-title>
      <mat-card-subtitle>ELECTRIC</mat-card-subtitle>
      <img mat-card-xl-image
        src="https://www.bmw.it/content/dam/bmw/common/all-models/m-series/iX-60/2021/onepager/bmw-ix-m60-onepager-gallery-impressions-thumbnail-01.jpg">
    </mat-card-title-group>
  </mat-card-header>

</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>BMW IX</mat-card-title>
      <mat-card-subtitle>HYBRID</mat-card-subtitle>
      <img mat-card-xl-image
        src="https://www.bmw.it/content/dam/bmw/marketIT/bmw_it/Gamma/ix/bmw-ix-series-07-2023_def_890x501.jpg">
    </mat-card-title-group>
  </mat-card-header>
</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>BMW I5 M50</mat-card-title>
      <mat-card-subtitle>HYBRID</mat-card-subtitle>
      <img mat-card-xl-image
        src="https://www.bmw.it/content/dam/bmw/common/all-models/m-series/i4-m50/2021/onepager/bmw-i4-m50-onepager-sp-desktop.jpg">
    </mat-card-title-group>
  </mat-card-header>
</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>BMW IX M60</mat-card-title>
      <mat-card-subtitle>ELECTRIC</mat-card-subtitle>
      <img mat-card-xl-image
        src="https://www.bmw.it/content/dam/bmw/common/all-models/m-series/iX-60/2021/onepager/bmw-ix-m60-onepager-gallery-impressions-thumbnail-01.jpg">
    </mat-card-title-group>
  </mat-card-header>

</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>BMW IX</mat-card-title>
      <mat-card-subtitle>HYBRID</mat-card-subtitle>
      <img mat-card-xl-image
        src="https://www.bmw.it/content/dam/bmw/marketIT/bmw_it/Gamma/ix/bmw-ix-series-07-2023_def_890x501.jpg">
    </mat-card-title-group>
  </mat-card-header>

</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>BMW I5 M50</mat-card-title>
      <mat-card-subtitle>HYBRID</mat-card-subtitle>
      <img mat-card-xl-image
        src="https://www.bmw.it/content/dam/bmw/common/all-models/m-series/i4-m50/2021/onepager/bmw-i4-m50-onepager-sp-desktop.jpg">
    </mat-card-title-group>
  </mat-card-header>

</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>BMW IX M60</mat-card-title>
      <mat-card-subtitle>ELECTRIC</mat-card-subtitle>
      <img mat-card-xl-image
        src="https://www.bmw.it/content/dam/bmw/common/all-models/m-series/iX-60/2021/onepager/bmw-ix-m60-onepager-gallery-impressions-thumbnail-01.jpg">
    </mat-card-title-group>
  </mat-card-header>

</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>BMW IX</mat-card-title>
      <mat-card-subtitle>HYBRID</mat-card-subtitle>
      <img mat-card-xl-image
        src="https://www.bmw.it/content/dam/bmw/marketIT/bmw_it/Gamma/ix/bmw-ix-series-07-2023_def_890x501.jpg">
    </mat-card-title-group>
  </mat-card-header>
</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>BMW I5 M50</mat-card-title>
      <mat-card-subtitle>HYBRID</mat-card-subtitle>
      <img mat-card-xl-image
        src="https://www.bmw.it/content/dam/bmw/common/all-models/m-series/i4-m50/2021/onepager/bmw-i4-m50-onepager-sp-desktop.jpg">
    </mat-card-title-group>
  </mat-card-header>
</mat-card>
